* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* .playwrite-au-sa-<uniquifier> {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
/* .unbounded-<uniquifier> {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
   */
  body {
    font-family: "Unbounded", sans-serif;
    line-height: 1.2;
    background-color: #111;
    color: #fff;
    background-image: url(/assets/eat.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .header {
    
    background-size: cover;
    /* padding: 5vh 5vw; */
    text-align: center;
  }

  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(to bottom, rgb(17, 17, 17), rgba(17, 17, 17, 0));
    padding: 5vh 5vw;
  }
  
  .logo {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
  .logo h2{
    font-family: "Playwrite AU SA", cursive;
    font-size: 2vw;
    font-weight: 400;
    color: #66d166;
    margin-left: 1vw;
  }
  
  .nav a {
    margin: 0 1.5vw;
    color: #fff;
    text-decoration: none;
    font-size: 1vw;
  }
  
  .hero h1 {
    font-size: 3vw;
    margin-top: 5vh;
    padding: 5vh 5vw;
  }
  
  .hero__info{
    padding: 5vh 5vw;
  }
  .hero__info p {
    font-size: 1vw;
    margin-top: 1vh;
  }
  
  .container-business-lunch {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .business-lunch {
    display: flex;
    flex-direction: column;
    background-color: #222;
    width: 80%;
    height: 100%;
    padding: 5vh 10vw;
    text-align: center;
    align-content: center;
  }
  
  .business-lunch h2 {
    font-size: 2.5vw;
    color: #66d166;
    margin-bottom: 2vh;
  }
  
  .lunch__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
  
  .lunch__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    max-width: 50%;
    font-size: 1vw;
  }
  .lunch__text p{
    padding-bottom: 10%;
    border-bottom: .2vw solid #66d166;
    margin-top: 10%;
    align-items: start;
  }
  .lunch__image {
    display: flex;
    width: 50%;
  }
  .lunch__image img {
    width: 100%;
    height: auto;
    border-radius: .5vw;
  }
  
  

  
  .custom-pizza {
    height: 40vw;
    background: url('/assets/images/pizza.jpg') no-repeat center/cover;
    /* padding: 6vh 5vw; */
    justify-items: center;
    align-content: center;
    text-align: center;
  }
  
.pizza-pud{
  padding: 6vh 5vw;
}

.back{
  /* background-color: linear-gradient( to top, #111, #11111100); */
  background-size: cover;
  background: linear-gradient(0deg, #111, #11111100);
}
  
  .custom-pizza h2 {
    font-size: 2.5vw;
    color: #66d166;
  }
  
  .custom-pizza p {
    font-size: 1.2vw;
    margin-bottom: 2vh;
  }
  
  .btn {
    width: 25%;
    height: auto;
    padding: 1.5vh 3.5vw;
    background-color: transparent;
    border: 0.2vw solid #66d166;;
    border-radius: 5vw;
    color: #66d166;
    font-size: 1.2vw;
    font-family: "Unbounded", sans-serif;
    cursor: pointer;
  }
  
  .services{
    display: flex;
    justify-content: space-around;
    margin-top: 5vw;
    margin-bottom: 5vw;
  }
  .service-item{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .service-item img{
    width: 10vw;
  }
  .service-item p{
    font-size: 1.5vw;
    margin-top: 1vw;
  }
  


  

  .events{
    background-color: #222;
    padding: 5vh 5vw;
  }
  
  .calendar__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .calendar, .event-list {
    width: 48%;
  }
  
  .events h2{
    font-size: 2vw;
  }
  .event h3 {
    font-size: 1.5vw;
    margin-bottom: 1vh;
  }
  
  .event p {
    font-size: 1vw;
    color: #aaa;
  }
  
  .more-events {
    display: inline-block;
    margin-top: 2vh;
    color: #66d166;
    font-size: 1vw;
    text-decoration: underline;
  }


  .popular-desserts {
    max-width: 100vw;
    margin: auto;
    padding: 10vw 5vw;
    text-align: center;
  }
  
  .popular-desserts h2 {
    font-size: 3vw;
    margin-bottom: 5vw;
    position: relative;
  }
  
  .popular-desserts h2::after {
    content: "";
    display: block;
    width: 5vw;
    height: .1vw;
    background-color: #4caf50;
    margin: 3vw auto 0;
  }
  
  .dessert-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    gap: 3vw;
  }
  
  .dessert-card {
    background-color: #2a2a2a;
    border-radius: 1vw;
    overflow: hidden;
    box-shadow: 0 .1px .3px rgba(0,0,0,0.4);
    text-align: left;
    padding-bottom: 3vw;
  }
  
  .dessert-card img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
  }
  
  .dessert-card h3 {
    margin: 1.5vw;
    font-size: 1.5vw;
  }
  
  .dessert-card p {
    margin: 0 1.5vw 1.5vw;
    color: #bbb;
    font-size: 1vw;
  }
  
  .price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2vw;
  }
  .price-row button {
    font-size: 1.2vw;
    width: 12vw;
    height: 3vw;
  }
  
  .price {
    color: #4caf50;
    font-weight: bold;
    font-size: 1.5vw;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: .8vw 1.5vw;
    border-radius: .5vw;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1f6923;
  }


  .rev{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  .reviews-card{
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    padding: 0 3.5vw;
  }
  .review{
    background-color: #2a2a2a;
    display: flex;
    width: 30%;
    flex-direction: column;
    gap: 3vw;
    padding: 2vw;
    border-radius: .5vw;
  }
  .review p {
    font-weight: 300;
    font-size: 1vw;
    color: #aaa;
  }
  .review h3{
    font-size: 2vw;
    color: #fff;
  }
  .review img{
    width: 7vw;
    height: auto;
  }
  .review-title h2::after {
    content: "";
    display: block;
    width: 5vw;
    height: .1vw;
    background-color: #4caf50;
    margin: 3vw auto 0;
  }
  .review-title h2 {
    font-size: 3vw;
    margin-bottom: 5vw;
    /* position: relative; */
  }

  .logo-link{
    display: flex;
    width: 25vw;
    text-decoration: none;
  }
  .logo-link img{
    width: 10%;
  }

  .desert-link:hover{
    color: #4caf50;
  }



  
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2a2a2a;
    text-align: center;
    padding: 5vw 3vw;
    margin-top: 10vw;
    font-size: 1vw;
    color: #666;
    gap: 3vw;
  }
   /* .footer-list{
    display: flex;
    text-align: center;
    gap: 5vw;
   } */
  
  .footer-list::after {
    content: "";
    display: block;
    width: 100vw;
    height: .1vw;
    background-color: #fff;
    margin: 3vw auto 0;
    gap: 10vw;
  }
  .footer-list a{
    margin: 0 3vw;
    color: #fff;
  }
  .footer-social_media{
    margin-top: 2vw;
  }
  .footer-social_media img{
    width: 15vw;
    height: auto;
  }